<main role="main" class="container">
    <div class="container" style="background-color: silver">
      <div class="row">
        <div class="col-4">Pos.</div>
        <div class="col-8">1</div>
      </div>
      <div class="row">
        <div class="col-4">ID</div>
        <div class="col-8">1</div>
      </div>
      <div class="row">
        <div class="col-4">Nom</div>
        <div class="col-8">Tasmota</div>
      </div>
      <div class="row">
        <div class="col-4">IP</div>
        <div class="col-8">192.186.1.1</div>
      </div>
      <div class="row">
        <div class="col-4">Etat</div>
        <div class="col-8"></div>
      </div>
      <div class="row">
        <div class="col-4"><i class="fas fa-signal"></i></div>
        <div class="col-8">1</div>
      </div>
      <div class="row">
        <div class="col-4">Version</div>
        <div class="col-8">1</div>
      </div>
      <div class="row">
        <div class="col-4">Execution</div>
        <div class="col-8">1</div>
      </div>
      <div class="row">
        <div class="col-4">Energy</div>
        <div class="col-8">1</div>
      </div>
      <div class="row">
        <div class="col-4">Temp</div>
        <div class="col-8">1</div>
      </div>
      <div class="row">
        <div class="col-4">Humidité</div>
        <div class="col-8">1</div>
      </div>
      <div class="row">
        <div class="col-4">Pression</div>
        <div class="col-8">1</div>
      </div>
      <div class="row">
        <div class="col-4">Mer Pression</div>
        <div class="col-8">1</div>
      </div>
      <div class="row">
        <div class="col-4">Distance</div>
        <div class="col-8">1</div>
      </div>
      <div class="row">
        <div class="col-4">Gaz</div>
        <div class="col-8">1</div>
      </div>
      <div class="row">
        <div class="col-4">Nom d'hote</div>
        <div class="col-8">1</div>
      </div>
      <div class="row">
        <div class="col-4">Mac</div>
        <div class="col-8">1</div>
      </div>
      <div class="row">
        <div class="col-4">MQTT</div>
        <div class="col-8">1</div>
      </div>
      <div class="row">
        <div class="col-4">IDX</div>
        <div class="col-8">1</div>
      </div>
    </div>
  </main>
  