<div class="container" style="padding-top: 10%">
    <p>CONFIGURATION</p>
    <form>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1"
          >Activer la connexion.</label
        >
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1"
          >Search for new updates.</label
        >
      </div>
  
      <div class="form-group">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>STABLE</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Nom d'utilisateur</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
  
      <div class="form-group">
        <label for="exampleInputEmail1">Mot de passe</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
  
      <div class="form-group">
        <label for="exampleInputEmail1">Set Startpage </label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
  
      <button type="submit" class="btn btn-block btn-secondary">
        Annuler
      </button>
      <button type="submit" class="btn btn-block btn-primary">
        Sauvgarder
      </button>
    </form>
  </div>
  