<nav id="flex-container" class="fixed-bottom navbar navbar-expand-lg bg-secondary " style="text-align: center;">
    
  <div class="col-4"><a [routerLink]="['/device-list']" routerLinkActive="router-link-active"  href="#"><i class="fas fa-home" style="color: gainsboro;"></i></a></div>
  <div class="col-4"><a [routerLink]="['/device-list']" routerLinkActive="router-link-active"  href="#"><i class="fas fa-calendar" style="color: gainsboro;"></i></a></div>
  <div class="col-4"><a [routerLink]="['/configuration']" routerLinkActive="router-link-active"  href="#"><i class="fas fa-cogs" style="color: gainsboro;"></i></a></div>

</nav>