<div class="container" style="text-align: center; padding-top: 10%">
    <p>Pas d'appareil trouvé Veuillez ajouter des appareils sur la page dédiée</p>
  
    <div style="margin: 5%">
      <a routerLink="/auto-search" href="#" role="button">
        <button class="btn btn-primary" style="width: 100%">
          Recherche automatique
        </button>
      </a>
    </div>
  
    <div style="margin: 5%">
      <a routerLink="/add-device" href="#" role="button">
        <button class="btn btn-primary" style="width: 100%">
          Ajouter appareil
        </button>
      </a>
    </div>
  </div>
  